<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286725574913-mmjt4ckra0tdtf2hlujnp27s2s8djll0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286725574913-mmjt4ckra0tdtf2hlujnp27s2s8djll0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286725574913-dh9u6tnjgn053c708isscoakgmisovg9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI2scvAUasdOLJuGEEoqpzLH6Gld0mtCY</string>
	<key>GCM_SENDER_ID</key>
	<string>286725574913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eShop</string>
	<key>PROJECT_ID</key>
	<string>e-shop-b41d0</string>
	<key>STORAGE_BUCKET</key>
	<string>e-shop-b41d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286725574913:ios:f088a0821f9dca06d7cb00</string>
	<key>DATABASE_URL</key>
	<string>https://e-shop-b41d0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>